<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=900px, initial-scale=1.0"/>
    <title>Login</title>
</head>
<body>
    <h1>Login Page </h1>
    <h1>My name is himanshu</h1>
    <form th:action="@{/login}" method="post">
        <label for="username">UserName</label>
        <input type="text" name="username" autofocus="autofocus"/> <br/>
        <label for="password">Passwod</label>
        <input type="password" name="password" /><br/>
        <input type="submit" name="Login" />

        
    </form>
    
</body>
</html>
